


<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" href="https://universal-editor.pages.dev/favicon.ico" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
		/>
		<title>Vite App</title>
		<style>
			html,
			body {
				margin: 0px;
				padding: 0px;
			}
		</style>
		<script type="module" crossorigin src="https://universal-editor.pages.dev/assets/index.30879c26.js"></script>
		<link rel="stylesheet" href="https://universal-editor.pages.dev/assets/index.1bb31fbc.css">
	</head>

	<body>
		<script>
			var universalEditorSettings = {
				language: 'en',
				currency: 'EUR',
			};
		</script>
		<div id="app"></div>
		
	</body>
</html>